---
title: Product Architecture for Small Footprint Elastic Runtime
owner: Releng
---

## <a id='vms'></a>VMs

The Small Footprint Elastic Runtime tile can deploy with a minimum of the following four VMs:

<p class="note"><strong>Note</strong>: The following list assumes that you are using an external blobstore.</p>

* [Control VM](#controlvm)
* [Compute VM](#computevm)
* [Database VM](#dbvm)
* [Router VM](#router)

Optionally, you can deploy the following additional VMs:

* [Blobstore VM](#blob)
* [TCP Router VM](#tcprouter)
* [HAProxy VM](#haproxy)
* [MySQL Backup Prepare Node](#mysqlbackup)
* [MySQL Monitor](#mysqlmonitor)

See the sections below for more information about the processes that run on each VM. 

## <a id='controlvm'></a>Control VM

* Diego BBS
* UAA
* Diego Brain
* Cloud Controller
* Clock Global
* Cloud Controller Worker
* Doppler Server
* Loggregator Traficcontroller
* Syslog Adapter
* Syslog Scheduler

Errands run on control VM instead of spinning up new VM. 

* Smoke Test Errand
* Apps Manager Errand
* Notifications Errand
* Notifications UI Errand
* Pivotal Account Errand
* Autoscaling Errand
* Autoscaling Registration Errand
* NFS Broker Errand
* MySQL Bootstrap Errand
* MySQL Rejoin Unsafe Errand

## <a id='dbvm'></a>Database VM

* NATS
* MySQL Proxy
* MySQL Server
* Consul

## <a id='computevm'></a>Compute VM

* Diego Cell

## <a id='blob'></a>Blobstore VM (single point of failure, needs to be able to scale)

* File Storage

## <a id='router'></a>Router VM

* Router

## <a id='tcprouter'></a>TCP Router VM

* TCP Router

## <a id='haproxy'></a> (Optional) HAProxy VM

* HAProxy

## <a id='mysqlbackup'></a> Backup Prepare Node

* Backup Prepare Node 

## <a id='mysqlmonitor'></a> MySQL Monitor

* MySQL Monitor