---
title: Product Architecture for Small Footprint Elastic Runtime
owner: Releng
---

This topic describes the component VMs included in the Pivotal Cloud Foundry (PCF) Small Footprint Elastic Runtime tile, as well as the processes that run on each VM. 

## <a id='overview'></a>Overview

You can deploy the Small Footprint Elastic Runtime tile with a minimum of four VMs, listed in the left column of the table below. Optionally, you can deploy the additional VMs in the right column. 

<p class="note"><strong>Note</strong>: The following table assumes that you are using an external blobstore.</p>

<table>
	<tr>
		<th>Minimum Required VMs</th>
		<th>Optional VMs</th>
	</tr>
	<tr>
		<td style="width:50%">
			<ul>
			<li><a href="#controlvm">Control</a></li>
			<li><a href="#computevm">Compute</a></li>
			<li><a href="#dbvm">Database</a></li>
			<li><a href="#router">Router</a></li>
			</ul>
		</td>
		<td>
			<ul>
			<li><a href="#blob">File Storage</a></li>
			<li><a href="#tcprouter">TCP Router</a></li>
			<li><a href="#haproxy">HAProxy</a></li>
			<li><a href="#mysqlbackup">MySQL Backup Prepare Node</a></li>
			<li><a href="#mysqlmonitor">MySQL Monitor</a></li>
			</ul>
		</td>
	</tr>
</table>


See the sections below for more information about the processes that run on each VM. 

## <a id='controlvm'></a>Control VM

* Diego BBS
* UAA
* Diego Brain
* Cloud Controller
* Clock Global
* Cloud Controller Worker
* Doppler Server
* Loggregator Traficcontroller
* Syslog Adapter
* Syslog Scheduler

Errands run on control VM instead of spinning up new VM. 

* Smoke Test Errand
* Apps Manager Errand
* Notifications Errand
* Notifications UI Errand
* Pivotal Account Errand
* Autoscaling Errand
* Autoscaling Registration Errand
* NFS Broker Errand
* MySQL Bootstrap Errand
* MySQL Rejoin Unsafe Errand

## <a id='dbvm'></a>Database VM

* NATS
* MySQL Proxy
* MySQL Server
* Consul

## <a id='computevm'></a>Compute VM

* Diego Cell

## <a id='blob'></a>Blobstore VM (single point of failure, needs to be able to scale)

* File Storage

## <a id='router'></a>Router VM

* Router

## <a id='tcprouter'></a>TCP Router VM

* TCP Router

## <a id='haproxy'></a> (Optional) HAProxy VM

* HAProxy

## <a id='mysqlbackup'></a> Backup Prepare Node

* Backup Prepare Node 

## <a id='mysqlmonitor'></a> MySQL Monitor

* MySQL Monitor