---
title: Product Architecture for Small Footprint Elastic Runtime
owner: Releng
---

## <a id='controlvm'></a>Control VM

Diego BBS
UAA
Diego Brain
Cloud Controller
Clock Global
Cloud Controller Worker
Doppler Server
Loggregator Traficcontroller
Syslog Adapter
Syslog Scheduler

## <a id='dbvm'></a>Database VM

NATS
MySQL Proxy
MySQL Server
Consul

## <a id='computevm'></a>Compute VM

Diego Cell

## <a id='computevm'></a>Blobstore VM

File Storage

## <a id='router'></a>Router VM

Router

## <a id='haproxy'></a> (Optional) HAProxy VM

HAProxy

-----------------------------------

Backup Prepare Node
MySQL Monitor
TCP Router

Smoke Test Errand
Apps Manager Errand
Notifications Errand
Notifications UI Errand
Pivotal Account Errand
Autoscaling Errand
Autoscaling Registration Errand
NFS Broker Errand
MySQL Bootstrap Errand
MySQL Rejoin Unsafe Errand