---
title: Product Architecture for Small Footprint Elastic Runtime
owner: Releng
---

This topic describes the component VMs included in the Pivotal Cloud Foundry (PCF) Small Footprint Elastic Runtime tile, as well as the processes that run on each VM. 

For more information about the components mentioned on this page, see [Cloud Foundry Components](../concepts/architecture.html). 

## <a id='overview'></a>Overview

You can deploy the Small Footprint Elastic Runtime tile with a minimum of four VMs, listed in the left column of the table below. Optionally, you can deploy the additional VMs in the right column. 

<p class="note"><strong>Note</strong>: The following table assumes that you are using an external blobstore.</p>

<table>
	<tr>
		<th>Minimum Required VMs</th>
		<th>Optional VMs</th>
	</tr>
	<tr>
		<td style="width:50%">
			<ul>
			<li>Compute (Diego Cell)</li>
			<li><a href="#controlvm">Control</a><sup><b>*</b></sup></li>
			<li><a href="#dbvm">Database</a><sup><b>*</b></sup></li>
			<li>Router</li>
			</ul>
		</td>
		<td>
			<ul>
			<li>File Storage</li>
			<li>HAProxy</li>
			<li>MySQL Backup Prepare Node</li>
			<li>MySQL Monitor</li>
			<li>TCP Router</li>
			</ul>
		</td>
	</tr>
</table>
<sup><b>*</b></sup>These VMs include co-located jobs that normally run on a single VM in Elastic Runtime. See the next section for information on which jobs run on which VM.  


## <a id='vms'></a>VMs with Co-located Jobs

To reduce the amount of VMs necessary for Small Footprint Elastic Runtime, the tile co-locates jobs many onto _Control_ and _Database_ VMs. 

### <a id='controlvm'></a>Control


* Diego BBS
* UAA
* Diego Brain
* Cloud Controller
* Clock Global
* Cloud Controller Worker
* Doppler Server
* Loggregator Traficcontroller
* Syslog Adapter
* Syslog Scheduler

Errands run on control VM instead of spinning up new VM. 

* Smoke Test Errand
* Apps Manager Errand
* Notifications Errand
* Notifications UI Errand
* Pivotal Account Errand
* Autoscaling Errand
* Autoscaling Registration Errand
* NFS Broker Errand
* MySQL Bootstrap Errand
* MySQL Rejoin Unsafe Errand

### <a id='dbvm'></a>Database

* NATS
* MySQL Proxy
* MySQL Server
* Consul
