---
title: Product Architecture for Small Footprint Elastic Runtime
owner: Releng
---

This topic describes the component VMs included in the Pivotal Cloud Foundry (PCF) Small Footprint Elastic Runtime tile, as well as the processes that run on each VM. 

For more information about the components mentioned on this page, see the _Architecture_ section of the [Elastic Runtime Concepts](../concepts/index.html) guide. 

## <a id='overview'></a>Overview

You can deploy the Small Footprint Elastic Runtime tile with a minimum of four VMs, listed in the left column of the table below. Optionally, you can deploy the additional VMs in the right column. 

<p class="note"><strong>Note</strong>: The following table assumes that you are using an external blobstore.</p>

<table>
	<tr>
		<th>Minimum Required VMs</th>
		<th>Optional VMs</th>
	</tr>
	<tr>
		<td style="width:50%">
			<ul>
			<li>Compute (Diego Cell)</li>
			<li><a href="#controlvm">Control</a><sup><b>*</b></sup></li>
			<li><a href="#dbvm">Database</a><sup><b>*</b></sup></li>
			<li>Router</li>
			</ul>
		</td>
		<td>
			<ul>
			<li>File Storage</li>
			<li>HAProxy</li>
			<li>MySQL Backup Prepare Node</li>
			<li>MySQL Monitor</li>
			<li>TCP Router</li>
			</ul>
		</td>
	</tr>
</table>
<sup><b>*</b></sup>These VMs include co-located jobs that normally run on a single VM in Elastic Runtime. See the next section for details.  


## <a id='vms'></a>VMs with Co-located Jobs

To reduce the amount of VMs necessary for Small Footprint Elastic Runtime, the _Control_ and _Database_ VMs include co-located jobs. 

### <a id='controlvm'></a>Control

The Control VM includes the Elastic Runtime jobs that handle management plane operations, app lifecycles, logging, and user authorization and authentication. Additionally, all errands run on the Control VM, which eliminates the need to spin up a VM for each errand and significantly reduces the amount of time it takes to run errands.  

The following table lists all jobs running on the Control VM. 

<table>
	<tr>
	<th colspan="2" style="text-align: center">
	Jobs on Control VM
	</th>
	</tr>
	<tr>
	  	<td style="width:50%">
	  	<ul>
	  	<li>Diego BBS</li>
		<li>UAA</li>
		<li>Diego Brain</li>
		<li>Cloud Controller</li>
		<li>Clock Global</li>
		<li>Cloud Controller Worker</li>
		<li>Doppler Server</li>
		<li>Loggregator Traficcontroller</li>
		<li>Syslog Adapter</li>
		<li>Syslog Scheduler</li>
		</ul>
		</td>
		<td>
		<ul>
	  	<li>Smoke Test Errand</li>
		<li>Apps Manager Errand</li>
		<li>Notifications Errand</li>
		<li>Notifications UI Errand</li>
		<li>Pivotal Account Errand</li>
		<li>Autoscaling Errand</li>
		<li>Autoscaling Registration Errands</li>
		<li>NFS Broker Errand</li>
		<li>MySQL Bootstrap Errand</li>
		<li>MySQL Rejoin Unsafe Errand</li>
		</ul>
		</td>
	</tr>
</table> 

### <a id='dbvm'></a>Database

The database VM includes the Elastic Runtime jobs that handle internal storage and messaging. 

The following table lists all jobs running on the Database VM. 

<table>
	<tr>
	<th colspan="2" style="text-align: center">
	Jobs on Database VM
	</th>
	</tr>
	<tr>
	  	<td style="width:50%">
	  	<ul>
	  	<li>NATS</li>
		<li>Consul</li>
		</ul>
		</td>
		<td>
		<ul>
	  	<li>MySQL Proxy</li>
		<li>MySQL Server</li>
		</ul>
		</td>
	</tr>
</table> 
