---
title: Installing Small Footprint Elastic Runtime
owner: releng
---

This topic describes how to install and configure YOUR-PRODUCT-NAME.

##<a id='install'></a> Install and Configure YOUR-PRODUCT-NAME

