---
title: Small Footprint Elastic Runtime Release Notes
owner: releng
---

This topic provides release notes for the Small Footprint Elastic Runtime tile for Pivotal Cloud Foundry (PCF). 

## <a id='releases'></a> Releases

There is currently no available release for the Small Footprint Elastic Runtime tile. 

### <a id='0.0.0'></a> 0.0.0

### <a id='new-features'></a> Features


## <a id='ki'></a> Known Issues
