<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>
      <li>
        <a id='home-nav-link' href="/srt/index.html">Small Footprint Elastic Runtime</a>
      </li>
      li>
        <a id='home-nav-link' href="/srt/architecture.html">Architecture</a>
      </li>
      <li>
        <a id='home-nav-link' href="/srt/installing.html">Installing</a>
      </li>
      <li>
        <a id='home-nav-link' href="/srt/scaling.html">Performance and Scaling</a>
      </li>
      <li>
        <a id='home-nav-link' href="/srt/troubleshooting.html">Troubleshooting</a>
      </li>
      <li>
        <a id='home-nav-link' href="/srt/release-notes.html">Release Notes</a>
      </li>
    </ul>
  </div>
</div><!--end of sub-nav-->